.form {
    
    height: 32px;
    width: 300px;
    border: 1px solid #cbf3ee;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    }
    .input[type="text"] {
        width: 70%;
        padding: 8px 0 12px 1em;
        color: rgb(54, 29, 29);
        outline: none;
        } 
        .input{ 
        width: 100%;
        border-color: transparent ;
        }
        .button {
                    top: 0;
                    right: 0;
                    height: 34px;
                    width: 70px;
                    font-size: 14px;
                    color: rgb(0, 0, 0);
                    text-align: center;
                    line-height: 4px;
                    border-width: 0;
                    background-color: rgba(7, 7, 7, 0.3);
                    -webkit-border-radius: 0px 15px 15px;
                    -moz-border-radius: 0px 15px 15px 15px;
                    border-radius: 15px 15px 15px 15px;
                    cursor: pointer;
                    }                 